.accuracy{
    background-color: rgb(241, 88, 88);
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    position: absolute;
    left: 630px;
    top: 45px;
    
}



@media screen and (max-width: 575px){

    .accuracy{
        position: absolute;
        left: 190px;
        top: 650px;
    }
}